body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(247, 255, 253);
    justify-content: center;
    
}

.main_section {
    max-width: 80%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: chartreuse;
    border: dashed 10px green;
}

.zajecia {
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    border: double black;
    cursor: wait;
    margin: 10px;
    line-height: 20px;
}

.main_section_box {
    display: flex;

}

.main_section_box img {
    max-width: 50%;
    margin-right: 15px;
}

ul {
    list-style: none;

}

.nav ul {
    display: flex;
    justify-content: flex-end;

}

.nav li {
    margin-left: 20px;

}

a {
    text-decoration: none;
} 
li :hover {
    opacity: 0.3;
}

.shape_box {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 500px;
}

.red {
    border: solid;
    background-color: red;
    width: 100px;
    height: 100px;
    margin-right: 100px;
}

.green {
    border: solid;
    background-color: rgb(43, 168, 5);
    width: 100px;
    height: 100px;
    margin-left: 4px;

}

.blue {
    border: solid;
    background-color: rgb(33, 89, 161);
    width: 100px;
    height: 100px;
    margin-top: 105px;
    position: absolute;
    margin-left: 105px;
}

.yelow {
    border: solid;
    background-color: rgb(231, 243, 67);
    width: 100px;
    height: 100px;
    margin-top: 210px;
    position: absolute;
}

.orange {
    border: solid;
    background-color: rgb(241, 145, 20);
    width: 100px;
    height: 100px;
    margin-top: 210px;
    position: absolute;
    margin-left: 210px;
}

.triangle {
    margin-top: 500px;

}

.pink {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(255, 0, 212);
}

.purple {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgba(78, 10, 67, 0.884);
    position: absolute;
    margin-left: 50px;
}

.light {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgba(120, 228, 231, 0.884);
    position: absolute;
    margin-top: 100px;
}

.black {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgba(8, 8, 8, 0.884);
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.white {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(37, 148, 43);
    position: absolute;
    margin-top: -100px;
    margin-left: 50px;
}
.shape{
    margin-top: 100px;
}
.red1 {
    border: solid;
    background-color: red;
    width: 500px;
    height: 500px;
    margin-right: 100px;
}

.green2{
    border: solid;
    background-color: rgb(94, 255, 0);
    width: 400px;
    height: 400px;
    margin-left:50px;
    margin-top: 50px;
    z-index: 1;
    position: absolute;
}
.blue3{
    border: solid;
    background-color: rgb(0, 17, 255);
    width: 300px;
    height: 300px;
    margin-left:100px;
    margin-top: 100px;
    z-index: 2;
    position: absolute;
}
.yelow4{
        border: solid;
        background-color: yellow;
        width: 200px;
        height: 200px;
        margin-left:150px;
        margin-top: 150px;
        z-index: 3;
        position: absolute;
    }
.orange5{
    border: solid;
    background-color: rgb(247, 163, 9);
    width: 100px;
    height: 100px;
    margin-left:200px;
    margin-top: 200px;
    z-index: 4;
    position: absolute;
}
.pink1 {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: turquoise;
    margin-left: 300px;
    position: absolute;
}

.purple1 {
width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(89, 235, 45);
  margin-left: 300px;
  margin-top: 200px;
  position: absolute;
}

.light1 {
    
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(224, 64, 152);
    margin-left: 127px;
    margin-top: 300px;
    position: absolute;
}

.black1 {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(80, 64, 224);
    margin-left: 300px;
    margin-top: 400px;
    position: absolute;
}

.white1 {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(221, 241, 35);
    margin-left: 475px;
    margin-top: 300px;
    position: absolute;
}
.page_footer {
    height:30px;
    
}